<div class="text-[#444746] font-bold flex gap-3 flex-col">
  <div class="relative">
    <a
      href="https://github.com/KateIronic"
      class="hover:text-[#2274A5] transition-all duration-200"
      target="_blank"
      ><ng-icon name="lucideGithub" size="40"></ng-icon
    ></a>
    <div class="relative h-5 w-[2px] left-[20px]"></div>
    <a
      href="https://linkedin.com/in/raghav-verma-0733b722b"
      target="_blank"
      class="hover:text-[#2274A5] transition-all duration-200"
      ><ng-icon name="lucideLinkedin" size="40"></ng-icon
    ></a>
  </div>
  <div class="relative bg-[#444746] h-24 w-[2px] left-[20px]"></div>
</div>
