<section id="hero" class="min-h-screen bg-[#131314]">
  <div class="table mx-44">
    <div class="table-cell">
      <div class="mt-[98px]">
        <div>
          <div class="text-[#2274A5] ml-1 text-base font-sans">
            Hi! my name is
          </div>
        </div>
        <div class="text-white">
          <div
            id="heading"
            class="font-semibold text-7xl leading-[1.5] m-0 font-main text-[#A8E0FF]"
          >
            Raghav Verma
          </div>
          <div
            class="font-semibold text-[70px] leading-[1.1] m-0 font-main text-[#444746]"
          >
            Full Stack Developer
          </div>
        </div>
        <div class="mb-[70px] font-main">
          <p class="max-w-[500px] text-[#E9F1F7]">
            I'm a
            <span id="heading" class="text-[#A8E0FF] opacity-100">MERN</span>
            and
            <span id="heading" class="text-[#A8E0FF] opacity-100">MEAN</span>
            developer specializing in building Full Stack web apps. I'm a quick
            learner and a team player who is passionate about web development.
          </p>
        </div>
      </div>
      <div
        class="h-[70px] text-[#2274A5] border-2 border-[#2274A5] w-40 px-4 py-4 text-center rounded-sm font-main cursor-pointer"
      >
        <a href="mailto:vermaraghav265@gmail.com" target="_blank"
          >Get in Touch</a
        >
      </div>
    </div>
  </div>
</section>
