<nav class="h-[100px] bg-[#131314] font-sans mx-28">
  <div class="flex items-center justify-between relative">
    <a routerLink="/" class="navbar-brand text-light">
      <ng-icon
        class="relative top-8 hover:rotate-180 text-[#444746] transition-all duration-500"
        name="tablerKayak"
        size="40"
      ></ng-icon>
    </a>
    <ul
      ngbNav
      #nav
      class="h-full flex justify-end items-center relative top-[35px]"
    >
      <li
        class="text-[#E9F1F7] mx-5 cursor-pointer hover:text-[#2274A5] transition-all duration-200 text-xs"
      >
        <a [routerLink]="['/']" fragment="about"
          ><span class="text-[#2274A5]">01. </span>About</a
        >
      </li>
      <li
        class="text-[#E9F1F7] mx-5 cursor-pointer hover:text-[#2274A5] text-xs"
      >
        <a [routerLink]="['/']" fragment="work"
          ><span class="text-[#2274A5]">02. </span>Work</a
        >
      </li>
      <li
        class="text-[#E9F1F7] mx-5 cursor-pointer hover:text-[#2274A5] text-xs"
      >
        <a [routerLink]="['/']" fragment="certifications"
          ><span class="text-[#2274A5]">03. </span>Certifications</a
        >
      </li>
      <li
        class="text-[#E9F1F7] mx-5 cursor-pointer hover:text-[#2274A5] text-xs"
      >
        <a [routerLink]="['/']" fragment="contact"
          ><span class="text-[#2274A5]">04. </span>Contact</a
        >
      </li>
      <li>
        <button
          onclick="window.open('../../assets/resume.pdf')"
          target="_blank"
          class="outline-none text-[#2274A5] border-2 rounded-md py-2 px-4 border-[#2274A5] mx-3 text-xs"
        >
          Resume
        </button>
      </li>
      <li></li>
    </ul>
  </div>
</nav>
