#heading {
  background: rgb(79,130,238);
  background: -moz-linear-gradient(90deg, rgba(79,130,238,1) 0%, rgba(149,116,206,1) 50%, rgba(212,101,118,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(79,130,238,1) 0%, rgba(149,116,206,1) 50%, rgba(212,101,118,1) 100%);
  background: linear-gradient(90deg, rgba(79,130,238,1) 0%, rgba(149,116,206,1) 50%, rgba(212,101,118,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
// .projects-container {
//   position: relative;
//   height: auto; // Ensure the container adjusts to the content height

//   .project-card {
//     position: absolute;
//     width: 580px;
//     left: 50%;
//     transform: translateX(-50%); // Center the card horizontally
//     margin-bottom: 40px; // Space between project cards

//     .project-img {
//       width: 100%;
//       height: 360px;
//       border-radius: 0.25rem;
//     }

//     .project-preTitle {
//       position: absolute;
//       top: 20px;
//       left: calc(100% + 20px);
//       color: #2274a5;
//       font-size: 0.75rem;
//       font-weight: 600;
//     }

//     .project-title {
//       position: absolute;
//       top: 40px;
//       left: calc(100% + 20px);
//       color: #444746;
//       font-size: 1.25rem;
//       font-weight: 700;
//       width: fit-content;
//     }

//     .project-description {
//       position: absolute;
//       top: 80px;
//       left: calc(100% + 20px);
//       background-color: #041e49;
//       color: #e9f1f7;
//       padding: 1rem;
//       border-radius: 0.25rem;
//       width: 500px;
//       opacity: 0.6;
//       transition: all 0.2s ease-in-out;

//       &:hover {
//         transform: translate(-0.5rem, -0.5rem);
//         opacity: 0.8;
//       }
//     }

//     .project-technologies {
//       position: absolute;
//       top: 160px;
//       left: calc(100% + 20px);
//       display: flex;
//       flex-wrap: wrap;
//       gap: 0.5rem;

//       li {
//         color: #444746;
//         font-size: 0.75rem;
//         font-weight: 600;
//       }
//     }
//   }
// }
