<section id="work" class="py-20">
  <div class="mx-auto container">
    <div
      class="text-2xl font-extrabold text-center text-[#E9F1F7] font-main mb-4"
    >
      <span class="text-[#2274A5] font-sans text-xl font-normal">02. </span>Some
      Things I've Built
    </div>
    <div class="relative font-main">
      <div *ngFor="let work of works" class="rounded-lg font-main h-[400px]">
        <div
          class="w-[580px] h-[360px] rounded-sm relative left-[160px] cursor-pointer hover:z-10 group bg-[#444746] flex items-center justify-center"
        >
          <img
            class="w-[550px] h-[340px] transform transition-all rounded-sm ease-in duration-200 hover:scale-105"
            [src]="work.img"
            alt=""
          />
        </div>

        <!-- <div class="w-[580px] h-[360px] block opacity-20 hover:translate-x-10 absolute top-6 left-[190px] z-10"></div> -->

        <p
          id="heading"
          class="text-[#2274A5] w-fit relative left-[calc(70%+4rem)] bottom-[300px] font-main text-xs font-semibold"
        >
          {{ work.preTitle }}
        </p>
        <div
          class="text-xl text-right w-fit font-bold relative left-[calc(70%+2rem)] bottom-[300px] z-10 text-[#444746]"
        >
          {{ work.title }}
        </div>
        <div
          class="bg-[#041E49] z-20 p-4 relative bottom-[280px] left-[600px] text-[#E9F1F7] max-w-[500px] min-h-[122px] w-fit text-right text-sm text-opacity-60 rounded-sm transition-all duration-300 cursor-auto group-hover:z"
        >
          {{ work.description }}
        </div>

        <p class="mt-4 text-gray-600"></p>
        <ul class="mt-4 flex flex-wrap gap-6 relative right-[105px]">
          <li
            *ngFor="let tech of work.technologies"
            class="text-[#444746] relative left-[calc(70%+4rem)] bottom-[300px] font-main text-xs font-semibold w-fit text-r"
          >
            {{ tech }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
