<section class="mt-8">
  <div class="flex flex-col justify-center items-center">
    <span class="text-[#2274A5] font-sans text-xl font-normal"
      >04. What's Next?
    </span>
    <div class="text-2xl font-extrabold text-center text-[#E9F1F7] font-main">
      Get In Touch
    </div>
    <div class="w-[500px] mt-5">
      <p class="text-[#E9F1F7]">
        I'm currently looking for new opportunities, my inbox is always open.
        Whether you have a question or just want to say hi, I'll try my best to
        get back to you!
      </p>
    </div>
    <div
      class="h-[70px] text-[#2274A5] border-2 border-[#2274A5] w-40 px-4 py-4 text-center rounded-sm font-main cursor-pointer my-5"
    >
      <a href="mailto:vermaraghav265@gmail.com" target="_blank">Say Hello!</a>
    </div>
    <div class="mt-20 text-[10px] leading-[.50rem] font-sans text-center">
      <p
        class="text-[#444746] hover:text-[#2274A5] transition-all duration-200"
      >
        Built with Angular by
        <a href="https://github.com/KateIronic">Kate Ironic(Me)</a>
      </p>
      <p
        class="text-[#444746] hover:text-[#2274A5] transition-all duration-200"
      >
        Inspired by
        <a
          href="https://github.com/bchiang7
        "
          >Brittany Chiang</a
        >
      </p>
    </div>
  </div>
</section>
