<div class="animation-container">
  <svg width="100%" height="100%">
    <g *ngFor="let shape of shapes" [attr.id]="'shape-' + shape.id">
      <circle
        *ngIf="shape.id % 2 === 0"
        [attr.cx]="shape.cx"
        [attr.cy]="shape.cy"
        [attr.r]="shape.r"
        [attr.fill]="shape.color"
      ></circle>
      <rect
        *ngIf="shape.id % 2 !== 0"
        [attr.x]="shape.cx"
        [attr.y]="shape.cy"
        [attr.width]="shape.r * 2"
        [attr.height]="shape.r * 2"
        [attr.fill]="shape.color"
      ></rect>
    </g>
  </svg>
</div>
