<div>
  <div class="mx-48">
    <span class="text-[#2274A5] font-sans text-xl font-normal">03. </span>
    <span class="text-2xl font-extrabold text-center text-[#E9F1F7] font-main"
      >What I've Achieved</span
    >
  </div>
  <div></div>
  <div class="mx-48 flex">
    <div>
      <div *ngFor="let item of companies">
        <div class="text-[#2274A5] font-sans">{{ item }}</div>
      </div>
    </div>
    <div *ngFor="let item of matter.post" >
      <div class="text-white">{{ item }}</div>
    </div>

    <div></div>
  </div>
</div>
